


.rounded-full {
  border-radius: 100%;
}

#sidebar-wrapper {
  height: 100vh;
  min-width: 15rem;
  margin-left: -15rem;
  transition-duration: 1s;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.5rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  min-width: 15rem;
  transition-duration: 1s;
}

#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


.list-group-item {
  border: none;
  padding: 20px 30px;
}

#menu-toggle{
  cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}

.loginn{
  background: white;
  border-radius: 30px;
  box-shadow: 2px 3px 5px 3px grey;

 
}
.imgg{
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  height: 500px;
  width: 100%;
  
}
.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background: white;
  border: 1px solid;
  color: black;
}